@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global Styles */
body main {
  padding: 24px;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

body header{
  padding: 18px;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  background-color: rgb(216, 248, 218);
}

main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}